@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', 'Inter', sans-serif;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
}

.container{
    width: 550px;
    left: 62px;
    top: 64px;
    background: #1F2937;
    padding: 30px;
    color: white;
    border-radius: 10px;
    border: 5px solid #4adf86;
    margin-top: 115px;
}

.container h1 {
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 50px;
  }

.container h1 span{
    color: #4ADF86;
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}

.button-container{
    display: flex;
    justify-content: space-around;
}

button{
    flex: 1;
    margin:0 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    font-weight: bold;
    height: 42px;
    gap: 12px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color: white;
}

.password-container{
    display: flex;
    flex-direction: column;
}

#password1, #password2{
    background: #273549;
    border-radius: 6px;
    min-height: 39px;
    margin: 5px 0px;
}

hr{
    background-color: #2F3E53;
    height: 2px;
    border: none;
    margin-top: 35px;
    margin-bottom: 35px;
}

.options-container{
    text-align: center;
}

.options{
    display: flex;
    justify-content: space-around;
}

.password-option input{
    width: 25px;
    text-align: center;
    font-size: 1.2rem;
}

.character-options{
   
}

.character-options input{
    width: 30px;
    height: 30px;
}
